config setup
{% for opt_name, opt_value in strongswan_config | dictsort %}
  {{ opt_name | trim }}={{ opt_value | trim }}
{% endfor %}

{% for name, options in strongswan_connections | dictsort %}
conn {{ name }}
{% for opt_name, opt_value in strongswan_connections | dictsort %}
  {{ opt_name | trim }}={{ opt_value | trim }}
{% endfor %}

{% endfor %}
